body {
    margin: 0;
    padding: 0;
    background-color: #FFD43B;
    font-family: 'Alfa Slab One', serif;
    color: #0E2F23;
    text-align: center;
}

.top-nav {
    background-color: #36591b;
    padding: 15px;
    text-align: left;
}

.top-nav a {
    color: #ffc107;
    text-decoration: none;
    font-size: 1.4rem;
}

.container {
    padding-top: 80px;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 70px;
}

.info-block {
    margin-bottom: 50px;
}

.info-block h2 {
    font-size: 1.6rem;
    margin-bottom: 8px;
}

.info-block p {
    font-size: 1.2rem;
    margin: 0;
}
